
body{
    background-color: #06002E;
}

.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Arial', 'Times New Roman', Times, serif;
    
}

.line {
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -10%; 
}

.investments {
    text-align: center; 
    margin-top: 1rem;
}

.meusAtivos {
    display: inline-block; 
    margin: 3.9rem;
    padding: 0.6rem;
    transition: transform 0.2s; 
    position: relative; 
}



.meusAtivos img {
    width: 400px; 
    height: 400px; 
}

.meusAtivos:last-child {
    border-right: none; 
}

.meusAtivos:hover {
    transform: scale(1.2); 
}


#redirectToIndexBtn {
    background-color: rgb(0, 13, 49);
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Estilos para o botão ao passar o mouse */
#redirectToIndexBtn:hover {
    background-color: #0074D9;
    transform: scale(1.1);
}