body {
    margin: 0;
    padding: 0;
    background-color: #06002E;
    font-family: Arial, sans-serif;
}

header {
    background-color: #06002E;
    padding: 10px;
    text-align: left;
}

header img {
    max-width: 200px;
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 400px;
}

.left-panel {
    margin-right: 10px;
}

.right-panel {
    margin-left: 10px;
}

.panel h1 {
    color: #06002E;
}

.head{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -22px;
    left: 300px;
    margin: 15px;


}

img {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}