body{
    background-color: #06002E;
}

thead {
    font-size: 2rem;
    height: 6rem;
    font-size: 3rem;
}

tbody{
    font-size: 2rem;
}

tbody tr{
    height: 4rem;
}

.corner-text {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 10px;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Arial', 'Times New Roman', Times, serif;

}

.line {
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -50%;
}


.conteiners{
    display: flex;
    margin-top: 80px;
    color: white;
    width: 100%;
}


.conteiner-main {
    background-color: #0D044D;
    width: 100%;
    border-radius: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.textAsset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 24px;
    margin-top: -80px;
}

.line {
    width: 12%;
    border-top: 2px solid #000;
    margin: 10px auto;
}

.line-corner{
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -10%;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons button:first-child {
    margin-right: 10px; 
}