
body{
    background-color: #06002E;
}


.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Arial', 'Times New Roman', Times, serif;
    
}

.conteiner-main {
    background-color: #0D044D;
    width: 80%;
    border-radius: 3rem;
    margin-left: 3rem;
    margin-right: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}


thead th {
    font-size: 1.6rem;
    padding: 1rem;
}

tbody td{
    font-size: 1rem;
    padding: 1rem;
}

tbody{
    font-size: 1.2rem;
}


.line {
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -50%;
}

.conteiner-left {
    background-color: #0D044D;
    width: 50%;
    padding-bottom: 20rem;
    border-radius: 2rem;
    margin-left: 5rem;
}

.conteiners{
    display: flex;
    margin-top: 5rem;
    color: white;
    margin-right: 5rem;
}


.conteiner-right{

    background-color: #0D044D;
    width: 50%;
    padding-bottom: 20rem;
    border-radius: 2rem;
    margin-left: 10rem;
}

.textAsset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: aliceblue;
    font-size: 24px;
    margin-top: -80px;
}

.line {
    width: 12%;
    border-top: 2px solid #000;
    margin: 10px auto; 
}

.line-corner{
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -10%; 
}

