* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    font-size: 16px;
}

.back {
    background-color: #06002E;
}

.head {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.buttons {
    margin-top: 1.5rem;
}


.login{

    background-color: rgb(0, 13, 49);
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.login:hover {
    background-color: #0074D9;
    transform: scale(1.1);
}


.register{
    background-color: rgb(0, 13, 49);
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.register:hover {
    background-color: #0074D9;
    transform: scale(1.1);
}

.fundo{
    background-image: url("Imgs/InitialPage2.png"); 
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: relative;
}

.LearnMore {
    position: absolute;
    bottom: 8rem;
    right: 3rem; 
}

.LearnMore .textLearnMore{

    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.LearnMore:hover .textLearnMore {
   font-size: 35px;
   transform: scale(1.1);
}

.botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botoes a {
    margin: 2vw; /* 2% da largura da viewport */
}


.botoes img {
    width: 20rem; /* Substitua 300px por 20rem ou outro valor relativo desejado */
    height: auto;
    border-radius: 1rem; /* Substitua 10px por 1rem ou outro valor relativo desejado */
}



.botoes a:hover img {
    transform: scale(1.25);
    transition: transform 0.3s ease;
}
.content{
    background-color: #06002E;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 6rem;
    display: flex;
    align-items: center;
}


.texto {
    /* max-width: 50rem; */
    padding: 2rem;
    color: rgb(255, 255, 255)
}


.texto h2 {
    margin-right: 0; /* 10% da largura da viewport */
    font-size: 1.3rem; /* Tamanho da fonte de 2 vezes o tamanho da fonte do elemento raiz */
}

.texto p {
    margin: 1rem; /* 4 vezes o tamanho da fonte do elemento raiz */
    font-size: 1.1rem; /* Tamanho da fonte de 1.5 vezes o tamanho da fonte do elemento raiz */
}

.quadrado-azul {
    background-color: rgb(5, 148, 173);
    border-radius: 10px; /* Cantos arredondados */
    padding: 3px; /* Espaçamento interno */
    max-width: 50vw; /* Largura máxima da caixa em relação à largura da viewport */
    /* margin-left: auto; Alinhar à direita */
    /* margin-right: 43%; Alinhar à esquerda */
}

.products, .SobreProdutos {
    padding-bottom: 10vw; /* 10% da largura da viewport */
}


/* Estilos para telas maiores que 1024px (monitores) */
@media screen and (min-width: 1025px) {
    .buttons {
        margin-top: 1.5rem;
    }
    

    .LearnMore {
        position: absolute;
        bottom: 8rem;
        right: 3rem; 
    }

    .textLearnMore {
        font-size: 2rem; /* Tamanho da fonte de 2 vezes o tamanho da fonte do elemento raiz */
    }

    .botoes a {
        margin: 3rem; /* Ajustado para 3rem */
    }

    .texto {
        /* max-width: 50rem; */
        padding: 2rem;
        color: rgb(255, 255, 255)
    }
    
    
    .texto h2 {
        margin-right: 0; /* 10% da largura da viewport */
        font-size: 1.3rem; /* Tamanho da fonte de 2 vezes o tamanho da fonte do elemento raiz */
    }
    
    .texto p {
        margin: 1rem; /* 4 vezes o tamanho da fonte do elemento raiz */
        font-size: 1.1rem; /* Tamanho da fonte de 1.5 vezes o tamanho da fonte do elemento raiz */
    }

    .quadrado-azul {
        background-color: rgb(5, 148, 173);
        border-radius: 10px; /* Cantos arredondados */
        padding: 3px; /* Espaçamento interno */
        max-width: 50vw; /* Largura máxima da caixa em relação à largura da viewport */
        /* margin-left: auto; Alinhar à direita */
        /* margin-right: 43%; Alinhar à esquerda */
    }

    .products, .SobreProdutos {
        padding-bottom: 20vw; /* Ajustado para 20% da largura da viewport */
    }
}