
body{
    background-color: #06002E;
}


.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: aliceblue;
    font-size: 40px;
    font-family: 'Arial', 'Times New Roman', Times, serif;
    
}

.line {
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -50%; 
}


.conteiners{
    display: flex;
    margin-top: 80px;
    color: white;

}


.conteiner-main{

    background-color: #0D044D; 
    width: 98%; 
    padding-bottom: 40%; 
    border-radius: 30px;
    margin-left: 20px;
}

.textAsset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: aliceblue;
    font-size: 24px;
    margin-top: -80px;
}

.line {
    width: 12%;
    border-top: 2px solid #000;
    margin: 10px auto; 
}

.line-corner{
    width: 160%;
    border-top: 2px solid #000;
    margin-left: -10%; 
}


.conteiner-main table{
    font-family: Arial, sans-serif;
    font-size: 56px;
    text-align: center;
    padding: 50px; 
    margin-left: -200px;
    
}

.conteiner-main table th,
.conteiner-main table td {
    padding-left: 200px; 
    padding-bottom: 15px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons button:first-child {
    margin-right: 10px; 
}